// SPDX-License-Identifier: GPL-2.0-only
/*
 * Tangorpro-specific PMIC settings
 *
 * Copyright 2022 Google LLC.
 *
 */

/* Display: vddi-supply voltage */
&m_ldo24_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	schematic-name = "L24M_DISP_VDDI";
	subsys-name = "Display";
};

/* Display: vci-supply voltage */
/ {
	display_fixed_vci: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "vci";
		gpio = <&gpp23 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

/* Display: backlight enable */
&m_ldo25_reg {
	regulator-boot-on;
	regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	schematic-name = "L25M_DISP_BL";
	subsys-name = "Display";
};

/* UWB: Ravenclaw and Tangorpro use LDO[16,17]S for UWB */
&s_ldo16_reg {
	regulator-always-on;
	regulator-initial-mode = <SEC_OPMODE_ON>;
};

/* UWB: Ravenclaw and Tangorpro use LDO[16,17]S for UWB */
&s_ldo17_reg {
	regulator-always-on;
	regulator-initial-mode = <SEC_OPMODE_ON>;
};
