// SPDX-License-Identifier: GPL-2.0-only
/*
 * Battery device tree entries specific to tangorpro
 *
 * Copyright 2022 Google,LLC
 *
 */

&google_battery {
	google,chg-battery-capacity = <4926>;
};

&max77759_fg {
	/delete-property/ maxim,force-batt-id;
	maxim,fg-data {
		#include "gs201-tangorpro-battery-data.dtsi"
	};
};
